<!DOCTYPE html>
<html>
<head>
    <title>My wonderful site</title>
</head>
<body>
<header>
    <h1>Welcome to my wonderful site</h1>

    <nav>
        {{ auto_menu() }}
    </nav>
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    This is the footer.
</footer>
</body>
</html>
